<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <!-- MY CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
		 
        <!-- JQUERY (First) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
		
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

        <!-- BOOTSTRAP JS (Last) -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <!-- Socket IO JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
				
        {% block head %}
		
        {% endblock %}
        
        <title>
          Dee chat: {% block title %}{% endblock %}
        </title>
		</head>

    <body>
	<div id="page-container">
      {% if session.username %}
            <nav class="navbar custom-nav" style="color: ##ebe8e8;">
                    <a class="navbar-brand" href="/">
                        <img src="../static/my_chat.jpg" width="60" height="60" alt="Flack">
                    </a>
                     <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="#" style="color:lightseagreen">{{ session.username }}</a>
                        </li>
                        <li class="nav-item">
                          <a id="logout" class="nav-link" href="/logout">Logout</a>
                        </li>                
                      </ul>
                    {% endif %}
                  </nav>
   
    <main class="container p-5">
	<div>
	<h2 style="color: #ad190e;"> <p> CS50W Project 2:  Dee Chat ! </p> </h2>	
	</div>
        {% block content %}
        {% endblock %}
    </main>
	</div>
	

	<!-- Footer -->
	<footer class="footer" id="footer"> 
		<div >
			<span> <p>Powered By <a href="https://www.linkedin.com/in/daniel-odeh-42554550" target="_blank"> Daniel Odeh </a> </span>© 2020
		</div>
	 </footer>
	 </body>
	</html>